
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@900&display=swap');
{
    scroll-behavior: smooth;
    overflow-x: hidden;
    margin-outside:0% ;
    box-sizing: border-box;

}
header{
    height: 10%;
    widht: 100%;
    position: fixed;
    top: 0px;
    left: 0px;

}
body{
    width: 100%;
    align-content: center;
}
body #First{
    color: white;
    font-family: 'Encode Sans', sans-serif;
    font-size: 560%;
    font-weight: bold;
    margin-top: 20%;


}
body{
    background-color: #000000;
}

.main{
    position: fixed;
    top: 50%;
    left: 50%;
    height: 1px;
    width: 1px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: -24vw -44vh 2px 2px #fff,38vw -4vh 0px 0px #fff,-20vw -48vh 1px 2px #fff,-39vw 38vh 3px 1px #fff,-42vw -11vh 0px 3px #fff,12vw 15vh 3px 3px #fff,42vw 6vh 3px 2px #fff,-8vw 9vh 0px 2px #fff,34vw -38vh 1px 0px #fff,-17vw 45vh 3px 1px #fff,22vw -36vh 3px 2px #fff,-42vw 1vh 1px 0px #fff;
    animation: zoom 10s alternate infinite;
}

@keyframes zoom {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.5);
    }
}
#firstfield{
    overflow: hidden;
    width: 100%;
    position: absolute;
    left: 0px;
    background: white;
    z-index: 6;
    top: 90%;
    width: 100%;
    height: 110%;
}
.round_gandient{
    background: rgba(255, 255, 255, 0);
    background: radial-gradient(circle, rgb(255, 255, 255) 0%, rgba(0, 0, 0, 0) 50%);
    width: 100%;
    z-index: -1;
    height: 250%;
    position: absolute;
    top: -90%;
}

.card-group{
    margin-top: 20%;
}

.card{
    margin: 0px;
    z-index: 3;

}

@media only screen and (max-width: 1880px) {
    .card-group {
        width: 100%;
    }
    svg{
        display: none;
    }
    .gitcard{
        margin: 15%;
        width: 90% !important;
    }
    .container-fluid{
        margin: 30% 10% 0% 0%!important;
    }
    h2{
        font-size: 170%!important;
    }
    h4{
        font-size: 280%!important;
    }
    #First{
        top:20%;
        position: absolute;
    }
}
#firstfield h4{
    color: #646464;
    font-family: 'Encode Sans', sans-serif;
    font-size: 360%;
    font-weight: bold;
    margin-top: 5%;
    font-size: 72px;
    background: -webkit-linear-gradient(#66CCCC, #4CAAC2, #3284B3, #355AA0, #393E86, #2F2B64);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

#secondfield{
    overflow-x: hidden;
    overflow: hidden;
    width: 100%;
    position: absolute;
    left: 0px;
    background: #9cc4f6;
    top: 200%;
    width: 100%;
    height: 100%;
}

#secondfield h4{
    color: #646464;
    font-family: 'Encode Sans', sans-serif;
    font-size: 360%;
    font-weight: bold;
    margin-top: 5%;
    background: -webkit-linear-gradient(45deg, #16BFFD, #CB3066);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

#secondfield h2{
    color: white;



}

#git{
    position: absolute;
    top:350%;
    width: 100%;
    height: 50%;
}
.logo{
    width: 20px!important;
    height: 20px !important;
}
h2{
    margin: 20px!important;
}

.bi::before {
    font-size: 100px;
}



.btn-grad {background-image: linear-gradient(to right, #2C3E50 0%, #4CA1AF  51%, #2C3E50  100%)}
.btn-grad {
    margin: 2px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    width: 30%;
    height: 10%;
}

.btn-grad:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 5px;
    margin: 3%;
    background: rgba(250, 250, 250, 0);
    transition-duration: 3s;
}

/* Track */
::-webkit-scrollbar-track {

}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #ffffff;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #d7d7d7;
}

.reveal{
    position: relative!important;
    transform: translateX(50px)!important;
    opacity: 0!important;
    transition: 1s all ease!important;
}

.reveal.active{
    transform: translateX(0)!important;
    opacity: 1!important;
}

.reveal2{
    position: relative!important;
    transform: translateX(-50px)!important;
    opacity: 0!important;
    transition: 1s all ease!important;
}

.reveal2.active{
    transform: translateX(0)!important;
    opacity: 1!important;
}

.revealtop{
    transform: translateY(50px)!important;
    opacity: 0!important;
    transition: 1s all ease!important;
}

.revealtop.active{
    transform: translateX(0)!important;
    opacity: 1!important;
}

#sidenav{
    z-index: 3000;
    position: fixed;
    right: 0%;
    top: 50%;

}
.dot {
    margin-top: 12px;
    height: 15px;
    width: 15px;
    background-color: #bbb;
    border-radius: 50%;
    display: inherit;
    transition-duration: 0.2s;
}
.dot.active {
    margin-top: 12px;
    height: 25px;
    width: 25px;
    text-align: left;
    background-color: #bbb;
    border-radius: 50%;
    display: inherit;
}